.footerNav{
    height: 300px;
    width:100%;
    color: white;
    background-color: #000000;
  }

  .yellowButton{
    margin-left:44%;
    margin-top: 15px;
  }
  
  .yellowButton:hover {
    background-color: rgb(142, 138, 97) !important;
  }

  .logoIcons{
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .WhiteLink{
    color: white;
    text-decoration: none;
    
  }
  
  .WhiteLink:hover{
    text-decoration:underline;
    color:white;
  }